DOMAIN_NAME=Dummy.42.fr

MYSQL_DATABASE=dummy
MYSQL_USER=Dummy

WP_ADMIN_USER=master
WP_ADMIN_USER=Dummy_master
WP_ADMIN_EMAIL=Dummy@dummy.42.fr

WP_USER=DummyUser
WP_USER_EMAIL=Dummy@Dummy.42.fr
WP_USER_PASS=BLA LA BLA BLA 
